h1{
  font-family: Pacifico;
  text-align: center;
  padding-top: 25px;
}

p{
  text-align: left;
  font-size: 1.5em;
  margin-top:20px;
  -webkit-animation: slowfadein 1s;
    -moz-animation: slowfadein 1s;
    -o-animation: slowfadein 1s;
    animation: slowfadein 1s;
    opacity: 1;
}

@media only screen and (max-width: 1100px) {
    p {
        margin-left: 10px;
    }
}

.nopad{
  margin-top: 0;
}

.expand{
  width:100%;
  height: auto;
  padding-bottom: 20px;
  -webkit-animation: slowfadein 1.5s;
    -moz-animation: slowfadein 1.5s;
    -o-animation: slowfadein 1.5s;
    animation: slowfadein 1.5s;
    opacity: 1;
}

#glyph{
  text-align: center;
}

@media only screen and (max-width: 1100px) {
    #glyph {
        margin: 50px auto;
    }
}

@keyframes slowfadein {
    0% {
        opacity: 0;
    }
    75%{
      opacity: 0;
    }
    80%{
      opacity: 0.25;
    }
    87%{
      opacity: 0.5;
    }
    95%{
      opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slowfadein {
  0% {
      opacity: 0;
  }
  75%{
    opacity: 0;
  }
  80%{
    opacity: 0.25;
  }
  87%{
    opacity: 0.5;
  }
  95%{
    opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
}
@-moz-keyframes slowfadein {
  0% {
      opacity: 0;
  }
  75%{
    opacity: 0;
  }
  80%{
    opacity: 0.25;
  }
  87%{
    opacity: 0.5;
  }
  95%{
    opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
}
@-o-keyframes slowfadein {
  0% {
      opacity: 0;
  }
  75%{
    opacity: 0;
  }
  80%{
    opacity: 0.25;
  }
  87%{
    opacity: 0.5;
  }
  95%{
    opacity: 0.75;
  }
  100% {
      opacity: 1;
  }
}
