body{
	background: url(https://images.unsplash.com/photo-1505909182942-e2f09aee3e89?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5257b32f41a8a970f1b644c88174cee5&auto=format&fit=crop&w=1652&q=80);
	background-size: cover;
	background-position: center;

}

html {
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 22%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
				0px 8px 13px rgba(0,0,0,0.3),
				0px 18px 23px rgba(0,0,0,0.1);
}

h1, h3{
	font-family: Pacifico, Lato, sans-serif;
	color:white;

}

h1{
	font-weight: 700;
	font-size: 6em;
}

hr{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}
