body{
  background: #F2E9E4;
}

h2{
  color:#731963;
}

#squcirc{
  position: relative;
  width:1200px;
  margin:0 auto;
}

.circle{
  width:350px;
  height:350px;
  left: 640px;
  top:-310px;
}

.square {
position: relative;
left: 170px;
top: 67px;
height: 300px;
width: 300px;
background-color: green;
margin: 50px 10px;
}

.square-face {
  display: none;
}

.square:hover .square-face {
  display: block;
  position: absolute;
  top: 10px;
  left: 5px;
}

.samie-name{
  text-align: center;
  width: 100%;
  font-family: Pacifico;
  font-size: 40px;
  color: white;
}

@media only screen and (max-width: 1060px){
  .circle{
    position: relative;
    left:180px;
    top:100px;
  }
  #squcirc{
    width:800px;
    margin: 0 auto;
  }
}
