body{
  background: #F2E9E4;
}

h2{
  color:#731963;
}

#squcirc{
  position: relative;
  width:1200px;
  margin:0 auto;
}

.circle{
  width:350px;
  height:350px;
  left: 640px;
  top:-310px;
}

.square{
  width:350px;
  height:350px;
  top:90px;
}

@media only screen and (max-width: 1060px){
  .circle{
    position: relative;
    left:180px;
    top:100px;
  }
  #squcirc{
    width:800px;
    margin: 0 auto;
  }
}
