
html, body {
  background: linear-gradient(#c4cded, white);
}

header {
  font-family: Pacifico;
  text-align: center;
  background-size: cover;
}

.bio{
  list-style-type: none;
}

}
h1 {
  font-size: 4em;
  line-height: 1.4;
  color: #05265e;
  text-shadow: 0px 4px 3px rgba(1,1,1,0.4),
				0px 8px 13px rgba(1,1,1,0.3),
				0px 18px 23px rgba(1,1,1,0.1);
  padding-bottom: 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}
h2 {
  font-size: 30px;
  color: #7b95ed;
  position: center;
  padding-bottom: 20px;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.continue-btn {
  padding: 0px 10px 0px 10px;
  font-size: 30px;
  background-color: darkblue;
}

.continue-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 70px 0px 0px 0px;
  border: 2px solid yellow;
  border-radius: 20px;
}
ul.names {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
li.nnames {
  font-family: sans-serif;
  font-weight: bold;
  display: inline;
  padding: 20px 120px;
  padding-top: auto;
}


hr{
	width:600px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid darkblue;
}

.triangle {
  /* Rotate div */
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

.shapes{
  width:1100px;
  margin: 0 auto;
}



.bio{
  margin-top: 20px;
  padding:10px;
}

#blue{
  border: solid blue 4px;
  background-color: #9bc3ff;
}

#green{
  border:solid green 4px;
  background-color:#b7f7b7;
}

#red{
  border:solid red 4px;
  background-color:#ffa5a5;
}

.continue-btn{
  font-family: Verdana;
  margin-bottom: 20px;

}

#test{
  position: relative;
  top:-600px;
}

.butt{
  position: relative;
  top:-600px;
}

@media only screen and (max-width: 1060px){
  #test{
    position: relative;
    top:0px;
  }
  .shapes{
    width:620px;
    margin: 0 auto;
  }
  .butt{
    top:5px;
  }
}
