html body{
  background-color: #F2E9E4;
}

h2{
  color:#731963;
}

.triangle{
  border-top: 175px solid transparent;
	border-right: 350px solid red;
	border-bottom: 175px solid transparent;
  top:-310px;
}

@media only screen and (max-width: 1060px){
  .triangle{
    top:100px;
    left:170px;
  }
}
