body{
  background: white;
  background: url("coffeetable.jpg");
  background-size: cover;
  background-position: center;
}


#mug{
  position: relative;
  width:1200px;
  margin:0 auto;
}

.circle{
  width:250px;
  height:250px;
  top: 100px;
  left: 370px;
}

.square{
  width:350px;
  height:350px;
  left: 500px;
  top:-250px;
}
