html, body {
  font-family: Pacifico;
}
header {
  text-align: center;
  background: lightgray;
  background-size: cover;
  color: white;
}
h2, p {
  font-size: 30px;
  color: Gray;
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  color: gray;
  text-shadow: #000 0px 0px 10px;
}
img {
  margin: 70px 0px 0px 0px;
  border: 7px solid black;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  padding: 5px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
