html{
    background: white;
  }

  body{
      background: url("Antartica.png");
      background-size: cover;
      background-position: center;
    }
  }

  #pingu{
    position: relative;
    width:800px;
    top:-200px;


  }

  .square{
    position: relative;
    width:350px;
    height:350px;
    top:-125px;
  }

  .triangle{
    position: relative;
    border-top: 175px solid transparent;
  	border-right: 200px solid red;
  	border-bottom: 175px solid transparent;
    left: 530px;
    top: 275px;
    transform: rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
  }

  #center{
    width:150px;
    margin:0 auto;
    position: relative;
    top:-500px;
    text-align: center;
    display:block;

  }
