body {
  background-color: #F2E9E4;
  }

h2{
  color:#731963;
}

  .navbar-custom{
  background-color: #001e60;
  border-color: #001e60;

}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .container a {
  color:#fff;
}

.navbar-custom .container a:hover,
.navbar-custom .container a:focus{
  background-color: #022993;
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > .active > a {
    text-decoration: none;
    background-color: #022993;
    color:white;
}


#circletri{
  position: relative;
  width: 900px;
  margin:0 auto;
}

.circle {
  height: 350px;
  width: 350px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  left:100px;
  top: 100px;
}

.triangle {
  width: 0;
	height: 0;
	border-top: 170px solid transparent;
	border-right: 340px solid red;
	border-bottom: 170px solid transparent;
  position: relative;
  /* Rotate div */
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
  top:-240px;
  left:500px;
}

#header{
  font-family: Pacifico;
  font-size: 4em;
  color:black;
  padding: 40px 20px;
}

@media only screen and (max-width: 1060px){
  .triangle{
    top:180px;
    left:100px;
  }
  #circletri{
    width:550px;
    margin:0 auto;
  }
}
