html, body {
  background-color: #ffffff;
  }

  .navbar-custom{
  background-color: #001e60;
  border-color: #001e60;

}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .container a {
  color:#fff;
}

.navbar-custom .container a:hover,
.navbar-custom .container a:focus{
  background-color: #022993;
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > .active > a {
    text-decoration: none;
    background-color: #022993;
    color:white;
}


#circletri{
  position: relative;
  margin:0 auto;
}

.circle {
  height: 350px;
  width: 350px;
  background-color: blue;
  border-radius: 50%;
  margin: 50px 10px;
}

.triangle {
  width: 0;
	height: 0;
	border-top: 170px solid transparent;
	border-right: 340px solid red;
	border-bottom: 170px solid transparent;
  margin: 50px 10px;
  /* Rotate div */
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}
