body{
  background: white;
}

#mug{
  position: relative;
  width:1200px;
  margin:0 auto;
}

.circle{
  width:350px;
  height:350px;

}

.square{
  width:350px;
  height:350px;
  top:90px;
  left: 640px;
  top:-310px;
}
