html body{
  background: url("");
  margin: 0;
}



.square{
	width:30%;
  border: 3px solid black;
	background:purple;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
	border-radius:50%;
	transition: background 0.2s;
	-webkit-transition:background 0.2s;
	-moz-transition:background 0.2s;
  border: none;
}

h1{
	color:darkblue;
	text-align: center;
	margin: 0;

	font-weight: normal;

	line-height: 1.1;
	padding-bottom: 20px;
}

#container{
	max-width: 700px;
	margin: 20px auto;
}

p{
    color:black;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
}

#stripe{
	background-color: darkblue;
	height: 30px;
	text-align: center;
}

.selected{
	color:darkblue;
	background: white;
}

#colorDisplay{
	font-size: 300%;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color:white;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	outline: none;
}

button:hover{
	color:darkblue;
	background: white;
}

#message{
	display: inline-block;
	width: 20%;
  color: white;
}

.navbar{
  margin-bottom: 0;
}

#smallText{
  font-size: 30px;
  color: #426091;
}

#back{
  color:darkblue;
}

#back:hover{
  color:white;
  background-color:darkblue;
}
