.navbar-custom{
  background-color: #001e60;
  border-color: #001e60;

}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .container a {
  color:#fff;
}

.navbar-custom .container a:hover,
.navbar-custom .container a:focus{
  background-color: #022993;
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > .active > a {
    text-decoration: none;
    background-color: #022993;
    color:white;
}

.container .shapes{
  margin: 0 auto;
  width: 75%;
}

.circle {
  height: 250px;
  width: 250px;
  background-color: blue;
  border-radius: 50%;
  margin: 50px 10px;
}

.triangle {
  width: 0;
	height: 0;
	border-top: 125px solid transparent;
	border-right: 250px solid red;
	border-bottom: 125px solid transparent;
  margin: 50px 10px;
}

.square {
  height: 250px;
  width: 250px;
  background-color: green;
  margin: 50px 10px;
}
